.main{
  display: flex;
  flex-direction: column;
  margin: 45px 0;
}

.mobile{
  display: none;
}

.main h1{
  text-align: left;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2F3035;
  margin-bottom: 25px;
}

.desktop{
  width: 1234px;
  margin-left: -32px;
}

@media screen and (max-width: 1170px){
  .desktop{
    width: auto;
    margin-left: -32px;
  }
}

@media screen and (max-width: 768px){
  .main h1{
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}