.main{
  display: flex;
  flex-direction: column;
}

.products{
  display: grid;
  grid-template-columns: 300px 300px 270px;
}

.product{
  display: flex;
  justify-content: start;
}

@media screen and (max-width: 1170px) {
  .products{
    grid-template-columns: 280px 280px;
  }
}


@media screen and (max-width: 768px) {
  .products{
    justify-content: center;
  }

  .product{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .products{
    grid-template-columns: 280px;
  }
}

