.footer{
    display: flex;
    flex-direction: column;
    background: #F0F0F4;
    padding: 43px 0 27px 0;
}

.footerMainInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerLawyerInfo{
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerLawyerInfo p{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
}

.footerLawyerInfo p:first-child{
    margin-right: 81px;
}

.footerMainInfoSpam {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.footerMainInfoSpamInput{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}

.footerMainInfoSpamInput input{
    margin: 0 !important;
    background: #FFFFFF !important;
    box-shadow: 0 32px 42px -12px rgba(34, 60, 80, 0.12);
    border: none !important;
    text-indent: 13px;
}


.footerMainInfoSpamInput input::placeholder{
    color: #C4C4C4;
}


.footerMainInfoSpamInput input:focus{
    border: none !important;
}

.footerMainInfoLists{
    display: flex;
    flex-direction: row;
}

.footerMainInfoListsMobile{
    display: none;
    margin-bottom: 20px;
}

.footerMainInfoListsMobileAccordion{
    width: 100%;
}

.footerMainInfoLists ul:first-child{
    margin-right: 5vw;
}

.footerMainInfoLists ul li{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footerMainInfoLists ul li:first-child{
    font-weight: 700;
}

.footerMainInfoIcons svg{
    margin-right: 30px;
}

.footerMainInfoIcons svg:last-child{
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .footer{
        padding: 20px 0 20px 0;
    }

    .footerMainInfo{
        flex-direction: column;
    }

    .footerMainInfoSpam{
        margin-bottom: 20px;
    }

    .footerMainInfoLists{
        margin-bottom: 20px;
    }

    .footerLawyerInfo{
        margin-top: 20px;
    }

    .footerLawyerInfo p:first-child{
        margin-right: 35px;
    }

    .footerMainInfoSpamInput{
        margin-top: 15px;
    }

    .footerMainInfoLists{
        display: none;
    }

    .footerMainInfoListsMobile{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}



/*other component styles*/